<div id="shopify-section-[id]" class="shopify-section">
    // Output of the section content
  </div>


  {% schema %}
            {
                "name": "t:sections.image-gallery.name",
            "tag": "section",
            "class": "section",
            "settings": [
            {
                "type": "header",
                "content": "My settings"
            },
            {
                "type": "text",
                "id": "my_id",
                "label": "My setting label",
                "default": "Enter text here"
            },
            {
                "type": "textarea",
                "id": "my_second_id",
                "label": "Welcome message",
                "default": "Welcome to my shop!"
            }
            ]
            }
{% endschema %}